[Desktop Entry]
Name=Oscar GC
Exec=/usr/lib/oscar-gc/oscar-gc %U
Icon=/usr/share/pixmaps/oscar-gc.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;