[Desktop Entry]
Name=Oscar GC
Exec=env LIBGL_ALWAYS_SOFTWARE=1 /usr/lib/oscar-gc/oscar-gc --ozone-platform=x11 --disable-gpu --disable-software-rasterizer %U
Icon=/usr/share/pixmaps/oscar-gc.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
